@charset "utf-8";

/*
         CSIS 1280 Multimedia Web Development
   
         Project: Resenha BJJ Website
         Author: Catherine Methven
         Date:   June 8 2022
   
         Filename: rbjj_affiliates.css
   
      */
/*HTML and Body Styles*/

h1{
    margin-top: 5%;
}
p{
    margin-left: 10%;
    margin-right: 10%;
}
.affiliates p {
    margin-left: 30%;
    margin-right: 30%;
}

.affiliates a:hover {
    filter:contrast(85%)
  }

/*Responsive Design*/
@media screen and (max-width: 600px){
    .affiliates p {
        margin: 0%;
    }
    
  }
  
  @media screen and (max-width:992px) {
     .affiliates p {
        margin:0%;
    }
 
  }