@charset "utf-8";

/*
         CSIS 1280 Multimedia Web Development
   
         Project: Resenha BJJ Website
         Author: Catherine Methven
         Date:   June 8 2022
   
         Filename: rbjj_hometest.css
   
      */
/*HTML and Body Styles*/

html {
  background-color: white;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


body {
  background-color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
}

#logoImage {
  background-color: black;
  height: 400px;
        
}

h1 {
  color: black;
    text-align: center;
    padding: 0%;
    font-size: 2em;
    text-shadow: grey 1px 1px 5px;
}

li img {
  border-radius: 30px;
}

/*Navigation Styles*/

li a {
  color: black;
  text-decoration: none;
  padding: 10px;

}

li {
    list-style-type: none;
    }


nav.horizontal a:hover {
  background-color: rgb(240, 236, 236);
}

nav {
  background-color: white;
  text-align: left;
  width: 100%; 
  float: left;
}      

nav.horizontal li{
  float: left;
}

nav.horizontal > a {
  text-align: center;
}

/*Grid Styles*/

.header {
  grid-area: hd;
}
.footer {
  grid-area: ft;
 
}
.content {
  grid-area: txt;
}

.sidebar {
  grid-area: as;
  
}


.wrapper {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1fr 1fr .5fr .5fr;

 
  
  
  grid-template-areas:
    "hd hd hd"
    "txt txt txt"
    "txt txt txt"
    "as as as"
    "ft ft ft";
}

.videoHeader{
  grid-area: h;
}

.videos {
  grid-area: vid;
}

.videos iframe {
  padding: 1em;
  border-radius: 30px;
}

.media {
  display: grid;

  grid-template-areas: 
  "h h h"
  "vid vid vid"
  ;
}

.productHeader {
  grid-area: he;
}

.productItem{
  grid-area: prod;
  height: 350px;
}


.products{
  display: grid;

  grid-template-areas: 
  "he he he"
  "prod prod prod";
}





ul.affiliateItems{
  text-align: center;
  padding: 1em;

  
}

ul.affiliateItems > li{
  display: inline-block;
  height: 250px;
  vertical-align: middle;

}




.imageLink a:hover {
  filter:contrast(85%)
}


/*Footer Styles*/


footer {
  width:100%;
  padding: 0%;
  margin: 0%;
  font-size: 0.5em;
  padding-bottom: 0%;

}

footer h1 {
color: black;
  text-align: center;
  padding: 0%;
  font-size: 2em;
  text-shadow: grey 1px 1px 5px;
}

footer a {
text-decoration: none;
color: grey;
padding: 1em;
font-size: small;
}

footer a:hover {
filter:grayscale(85%)
}

footer::after {
clear: both;
content: "";
display: table;
}


body > * {
  outline: 2px dashed red;
}

section > * {
  outline: 2px dashed blue;
}
