@charset "utf-8";

/*
         CSIS 1280 Multimedia Web Development
   
         Project: Resenha BJJ Website
         Author: Catherine Methven
         Date:   June 8 2022
   
         Filename: rbjj_home.css
   
      */
/*HTML and Body Styles*/

html {
  background-color: grey;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


body {
  background-color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
}

#logoImage {
  background-color: black;
  height: 400px;
        
}

/*Navigation Styles*/

li a {
  color: black;
  text-decoration: none;
  padding: 10px;
}



nav.horizontal a:hover {
  background-color: rgb(240, 236, 236);
}

nav {
  background-color: white;
  text-align: left;
  width: 100%; 
}      

nav.horizontal li{
  float: left;
}

nav.horizontal a {
  text-align: center;
}


/*Article Styles*/
  
article { 
  text-align: center;
}

article h1 {
    color: black;
    text-align: center;
    font-size: 2em;
    text-shadow: grey 1px 1px 5px;
    vertical-align: middle;
    
    box-sizing: border-box;
    padding: 0;
    margin-top: 0;

}

.latestVideos {
  padding-top: 5em;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1fr 2fr;
  grid-gap: 5px;
 
 
}

.videoHeader {
  grid-column: 2;
  
}

.video1 {
  grid-column: 1;
  grid-row:2
}
.video2 {
  grid-column:2;
  grid-row:2
}
.video3 {
  grid-column:3;
  grid-row:2
}

article iframe {
  border-radius: 30px;
}

/*Storefront*/

#storeFrontID h1 {
padding-top: 2em;

}

#storeFrontID h4 {
  margin: 0;
  padding: 0;
}

#storeFrontID h6 {
  margin:0px;
}

.storeFront {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 25% 75%;
  grid-gap: 5px;
}

li.productOne a:hover {
  filter:contrast(85%)
}

.storeFront h1{
  grid-column: 2;
  
}

.product1 {
  grid-column: 2;
  grid-row: 2;
}



li {
list-style-type: none;

}
  
li h6 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li a {
  padding:0.3;
}

li img{
  border-radius: 30px;
}
 /*Aside Styles*/      

#affiliateImage {
  display: block;

    position: sticky;
    position: -webkit-sticky;
}


/*Footer Styles*/


footer {
    text-align: center;
    width:100%;
    padding: 0%;
    margin: 0%;
    font-size: 0.5em;
    padding-bottom: 1%;
  
}

footer h1 {
  color: black;
    text-align: center;
    padding: 0%;
    font-size: 2em;
    text-shadow: grey 1px 1px 5px;
}

footer a {
  text-decoration: none;
  color: grey;
  padding: 1em;
  font-size: small;
}

footer a:hover {
  filter:grayscale(85%)
}

footer::after {
  clear: both;
  content: "";
  display: table;
}


body > * {
  outline: 2px dashed red;
}

section > * {
  outline: 2px dashed blue;
}