@charset "utf-8";

/*
         CSIS 1280 Multimedia Web Development
   
         Project: Resenha BJJ Website
         Author: Catherine Methven
         Date:   June 8 2022
   
         Filename: rbjj_store.css
   
      */
/*HTML and Body Styles*/

html {
    background-color: white;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  
  
  body {
    background-color: white;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: black;
  }
  
  #logoImage {
    background-color: black;
    height: 400px;
          
  }
  
  h1 {
    color: black;
      text-align: center;
      padding: 0%;
      font-size: 2em;
      text-shadow: grey 1px 1px 5px;
  }
  

  
  /*Navigation Styles*/
  
  li a {
    color: black;
    text-decoration: none;
    padding: 10px;
  
  }
  
  li {
      list-style-type: none;
      }
  
  
  nav.horizontal a:hover {
    background-color: rgb(240, 236, 236);
  }
  
  nav {
    background-color: white;
    text-align: left;
    width: 100%; 
    float: left;
  }      
  
  nav.horizontal li{
    float: left;
  }
  
  nav.horizontal > a {
    text-align: center;
  }
  
  /*Grid Styles*/
  
  .product {
    display: grid;
    grid-template-areas: 
    "img des";


    width: 100%;
    margin: 0%;
    padding: 0;
    justify-content: center;
  }

  .product.img {
    grid-area: img;
  }
  
  .product.description {
    grid-area: des;

  }

   
/* Article Styles*/

article {
  text-align: center;
  margin-top: 6em;
  margin-bottom: 6em;

}
article  img {
  border-radius: 30px;
}

article  p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.product h1 {
  margin-bottom: 0%;
}
.product h4 {
  color: grey;
  opacity: 80%;
  font-weight: lighter;

  margin-top: 0%;
}

.card {

  position: relative;
  display: inline-block;
}
.card .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.card:hover .img-top {
  display: inline;
}
 



  /*Footer Styles*/


  footer {
    width:100%;
    padding: 0%;
    margin: 0%;
    font-size: 0.5em;
  }
  
  footer h1 {
  color: black;
    text-align: center;
    padding: 0%;
    font-size: 2em;
    text-shadow: grey 1px 1px 5px;
  }
  
  footer a {
  text-decoration: none;
  color: grey;
  padding: 1em;
  font-size: small;
  }
  
  footer a:hover {
  filter:grayscale(85%)
  }
  
  footer::after {
  clear: both;
  content: "";
  display: table;
  }
  
  
  /* body > * {
    outline: 2px dashed red;
  }
  
  section > * {
    outline: 2px dashed blue;
  }

  div > * {
      outline: 2px dashed green;
  } */