@charset "utf-8";

/*
         CSIS 1280 Multimedia Web Development
   
         Project: Resenha BJJ Website
         Author: Catherine Methven
         Date:   June 8 2022
   
         Filename: rbjj_home.css
   
      */
/*HTML and Body Styles*/


.latestVideos {
  
  display: flex;
  margin: 0 auto;
  min-width: 940px;
  justify-content: center;
  
}

.latestVideos > iframe {
  padding-right: 10px;
  padding-left: 10px;
}


iframe {
  border-radius: 30px;
}

/*Storefront*/

.storeFront {
  display: flex;
  justify-content: center;
  margin: 0;
}

.storeFront > ul{
  margin: 0%;
  padding: 0;
}

.storeFront > ul > li{
  margin: 0%;
  padding: 0;
}

.storeFront h4, h6, a {

    margin: 0%;
    padding: 0;
  
}

li a:hover {
  filter:contrast(85%)
}



li {
list-style-type: none;

}
  
li h6 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

li a {
  padding:0.3;
}

li img{
  border-radius: 30px;
}
 /*Aside Styles*/   

.affiliates {
  display: flex;
  margin: 0 auto;
  min-width: 940px;
  justify-content: center;
  align-items: center;
}






