@charset "utf-8";

/*
         CSIS 1280 Multimedia Web Development
   
         Project: Resenha BJJ Website
         Author: Catherine Methven
         Date:   June 8 2022
   
         Filename: rbjj_about.css
   
      */
/*HTML and Body Styles*/

/* Grid Styles */

.grid {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 500px 500px;
  min-width: none;
}

.sidebar {
  grid-column: 3;
  grid-row: 1/2;
}

.Cath {
  grid-row: 2;
}

.Marcio {
  grid-column: 1;
}