@charset "utf-8";

/*
         CSIS 1280 Multimedia Web Development
   
         Project: Resenha BJJ Website
         Author: Catherine Methven
         Date:   June 8 2022
   
         Filename: rbjj_about.css
   
      */
/*HTML and Body Styles*/

html {
  background-color: grey;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


body {
  background-color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
}

#logoImage {
  background-color: black;
  height: 400px;
        
}

/*Navigation Styles*/

li a {
  color: black;
  text-decoration: none;
  padding: 10px;

}

li {
    list-style-type: none;
    }


nav.horizontal a:hover {
  background-color: rgb(240, 236, 236);
}

nav {
  background-color: white;
  text-align: left;
  width: 100%; 
  float: left;
}      

nav.horizontal li{
  float: left;
}

nav.horizontal > a {
  text-align: center;
}


/*Grid Styles*/

.header {
    grid-area: hd;
}
.footer {
    grid-area: ft;
}
.content {
    grid-area: txt;
    justify-content: center;
}

.content.media {
    grid-area: img;
}
.sidebar {
    grid-area: as;
    margin-right: 1em;
    
}

.sidebar p {
    background-color: rgb(240, 236, 236, 0.8);
    border-radius: 30px;
    padding: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.sidebar img{
    border-radius: 30px;
    background-position: -100px 0px;
}




.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
    grid-template-areas:
      "hd hd hd"
      "img txt as"
      "img txt as"
      "ft ft ft";
}

.media {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img txt";
    margin-bottom: 1em;
    margin-right: 2em;
    margin-top: 4em;
   
   
}
.media img{
    grid-area: img;
    border-radius: 30px;
}

.media p{
    grid-area: txt;
    background-color: rgb(240, 236, 236, 0.8);
    border-radius: 30px;
    padding: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
}

.media h1{
    grid-area: img;
    margin:0;
}









/*Article Styles*/


/*Aside Styles*/


/*Footer Styles*/


footer {
    text-align: center;
    width:100%;
    padding: 0%;
    margin: 0%;
    font-size: 0.5em;
    padding-bottom: 1%;
  
}

footer h1 {
  color: black;
    text-align: center;
    padding: 0%;
    font-size: 2em;
    text-shadow: grey 1px 1px 5px;
}

footer a {
  text-decoration: none;
  color: grey;
  padding: 1em;
  font-size: small;
}

footer a:hover {
  filter:grayscale(85%)
}

footer::after {
  clear: both;
  content: "";
  display: table;
}


body > * {
  outline: 2px dashed red;
}

section > * {
  outline: 2px dashed blue;
}
