@charset "utf-8";

/*
         CSIS 1280 Multimedia Web Development
   
         Project: Resenha BJJ Website
         Author: Catherine Methven
         Date:   June 8 2022
   
         Filename: rbjj_about.css
   
      */
/*HTML and Body Styles*/

/* Grid Styles */
.grid {
  display: grid;
  grid-template-areas: 
  'image des'
  'image des';
  grid-template-columns: 40% 60%;
  width: 90%;
  margin: auto;
  

}

.des {
  margin: 0%;

}

.des p{
  margin: 8%;
  background-color: lightgray;
  border-radius: 30px;
  padding: 2%;
  
}





/* HTML and Body styles */
h1{
  margin-top: 5%;
}

h4 {
  margin-top: 0%;
}

div > img, aside > img {
  border-radius: 30px;
}
p {
  font-size: 1em;
}


/* Article Styles */


/* Aside Styles */

aside p {
  margin: 0 10% 1% 10%;
}


/* Mobile Styles */
/*Responsive Design*/
@media screen and (max-width: 600px){
  .grid{

    display:list-item;
    
  }
 
}

@media screen and (max-width:992px) {
  .grid{

    display:list-item;
    list-style-type: none;
    
  }
}



 /* body > * {
  outline: 2px dashed red;

}

section > * {
  outline: 2px dashed blue;
}

div > * {
    outline: 2px dashed green;
}  */
