@charset "utf-8";

/*
         CSIS 1280 Multimedia Web Development
   
         Project: Resenha BJJ Website
         Author: Catherine Methven
         Date:   June 8 2022
   
         Filename: rbjj_store.css
   
      */
/*HTML and Body Styles*/
  
  /*Grid Styles*/
  
  .product {
    display: grid;
    grid-template-areas: 
    "img des";


    width: 100%;
    margin: 0%;
    padding: 0;
    justify-content: center;
  }

  .product.img {
    grid-area: img;
  }
  
  .product.description {
    grid-area: des;

  }

   
/* Article Styles*/

article {
  text-align: center;
  margin-top: 6em;
  margin-bottom: 6em;

}
article  img {
  border-radius: 30px;
}

article  p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.product h1 {
  margin-bottom: 0%;
}
.product h4 {
  color: grey;
  opacity: 80%;
  font-weight: lighter;

  margin-top: 0%;
}

.card {

  position: relative;
  display: inline-block;
}
.card .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.card:hover .img-top {
  display: inline;
}
 
  

  /*Form Sytles */
  form{
    width: 35%;
    display: inline-block;
    padding: 20px;
  }
  
  input {
    border: 1px solid black;
    border-radius: 4px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.08);

  }

  input[type=submit]{
    background-color: black;
    color: white;
    cursor: pointer;
    padding:15px;
    width: 100%;
    font-size: x-large;
  }

  input[type=submit]:hover{
    background-color: grey;
    
  }

  input[type=text], input[type=email] {
    width: 80%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  #inputLabel {
    margin-bottom: 10px;
    display: block;
  }

  
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }
  
  /* body > * {
    outline: 2px dashed red;
  }
  
  section > * {
    outline: 2px dashed blue;
  }

  div > * {
      outline: 2px dashed green;
  } */