@charset "utf-8";

/*
         CSIS 1280 Multimedia Web Development
   
         Project: Resenha BJJ Website
         Author: Catherine Methven
         Date:   June 8 2022
   
         Filename: rbjj_fundraise.css
   
      */
/*HTML and Body Styles*/